# Ignore index file for repo
index/
!stub/index/

# Ignore results from previous runs
results/

# Ignore Nextflow work directory
work/
.nextflow/
.nextflow.log*
.nextflow.history

# Ignore logs inside submodules
submodules/*/.nextflow*
submodules/*/work/

# Ignore output files (if generated in main directory)
#*.idx
#*.tsv
#*.log
.DS_Store
.idea
