params {
    root = baseDir

    // Set the results directory at the root level
    params.results_dir = "${params.root}/results"

    // Kallisto-specific parameters
    index_output_dir = "${params.root}/index"
    index_basename = "kx_generate_index_app.idx"
    create_index = true
}

// Define work directory
workDir = "${params.root}/work"

// Include configuration for docker
includeConfig 'subworkflows/transcriptome_analysis/nextflow.config'
includeConfig 'subworkflows/differential_expression_analysis/nextflow.config'