params {
    root = baseDir
}

// Define work directory
workDir = "${params.root}/work"

// Include configuration for docker
includeConfig 'subworkflows/transcriptome_analysis/nextflow.config'
includeConfig 'subworkflows/differential_expression_analysis/nextflow.config'
includeConfig 'subworkflows/report_generation/nextflow.config'